h1 {
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
}

header, section, footer{
    display: block;
}

p{
    text-align: left;
    font-size: 16px;
    padding: 15px;
}

body{
    text-align: center;
    background: #9bfae0;
}

.cabecera{
    background: #fdfd96;
    border: 3px solid #9bfae0;
    padding: 20px;
}

.cabecera h1{
    text-align: left;
}

.seccion{
    margin: 20px;
    width: 60%;
    border: 3px solid black;
    float: right;
    background: #c6e602;
}

article {
    background: #16e6ae;
    border: 1px solid #cece0c;
    padding: 20px;
    margin-bottom: 15px;
}

.agrupar {
    background: #120052;
    border: 1px solid black;
    width: 80%;
    margin: 15px auto;
}

.columna{
    width: 30%;
    border: 1px solid black;
    float: left;
    background: #652ec7;
    margin: 25px;
}