h1{
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;

}
h2{

    font: bold 23px sans-serif;
}

header,section, footer, aside, nav, article, hgroup, p{
    display:block;

}